
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 90px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

span {
  text-decoration: underline;
}

.top-container {
  background-color: #EAF6F6;
  margin: 0;
  padding-top: 100px;
  position: relative;
}

.top-container h2 {
  font-weight: normal;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 50px auto;
}

.middle-container {
  margin: 50px 0;
}

.middle-container .profile img {
  margin-top: 20px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 3px solid #eee;
}

.middle-container .profile p {
  color: #40514E;
}

.skill-row {
  width: 75%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  margin-top: 50px;
  background-color: #66BFBF;
  height: 80px;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
}

.bottom-container p {
  color: #EAF6F6;
  font-size: 12px;
  margin-top: 30px;
}

.bottom-container a {
  margin: 0 10px;
  font-size: 14px;
  color: #11999E;
}

.bottom-container a:hover {
  color: #EAF6F6;
}

.footer-link {
  margin-top: 20px;
}

.bottom-cloud {
  position: absolute;
  left: 180px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 150px;
}

.responsive {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.data {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  margin-top: 40px;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}